html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background: url("../image/background/info_bg@2x.png") 0 0 repeat;
  background-size: 7px auto;
}

img {
  width: 100%;
  display: block;
}

.hidden {
  display: none !important;
}

.no-margin {
  margin: 0 !important;
}

.no-right-padding {
  padding-right: 0 !important;
}

.no-left-padding {
  padding-left: 0 !important;
}

.no-lr-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
