<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
  <title>老司机带带我</title>
  <link rel="stylesheet" href="../stylesheet/vendor.min.css">
  <link rel="stylesheet" href="../stylesheet/style.css">
  <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
</head>

<body>
<!--loading num-->
<div class="preloader-con hidden">
  <div class="container no-lr-padding">

    <div class="wrapper-con">
      <div class="wrapper-text">
        <div class="num-text"><span id="number">0</span>%</div>
        <div class="red-car"><img src="../image/icon/red_car@2x.png" alt=""></div>
      </div>
    </div>

  </div>
</div>
<main class="hidden">
  <!--<section class="music-icon">-->
  <!--<img src="../image/icon/music.png" alt="music" class="music-img rotate">-->
  <!--<audio src="../music/music.mp3" autoplay loop id="audio"></audio>-->
  <!--</section>-->
  <section class="swiper-container">
    <div class="swiper-wrapper">
      <!--index-->
      <div class="swiper-slide" data-hash="slide1">
        <section class="index-con">

          <header class="title-con">
            <div class="image-con margin-b ani" swiper-animate-effect="bounceIn" swiper-animate-delay="8.0s"><img
                src="../image/page_index/title_1@2x.png" alt=""></div>
            <div class="image-con ani" swiper-animate-effect="bounceIn" swiper-animate-delay="8.3s"><img
                src="../image/page_index/title_2@2x.png" alt=""></div>
            <div class="image-con ani" swiper-animate-effect="bounceIn" swiper-animate-delay="8.6s"><img
                src="../image/page_index/title_3@2x.png" alt=""></div>
          </header>

          <div class="road-con ani" swiper-animate-effect="fadeIn" swiper-animate-delay="8.6s">
            <div class="image-con image-info ani" swiper-animate-effect="fadeInRight" swiper-animate-delay="8.9s">
              <img src="../image/page_index/info@2x.png" alt="">
            </div>

            <div class="image-con red-car ani" swiper-animate-effect="fadeInLeft" swiper-animate-delay="9.2s">
              <img src="../image/icon/red_car@2x.png" alt=""></div>

            <div class="image-con image-arrow ani" swiper-animate-effect="fadeInRight" swiper-animate-delay="9.2s">
              <img src="../image/icon/arrow@2x.png" alt=""></div>

            <div class="image-con image-company ani" swiper-animate-effect="fadeInRight" swiper-animate-delay="8.9s">
              <img src="../image/page_index/company@2x.png" alt=""></div>
          </div>
        </section>
      </div>

      <!--1-->
      <div class="swiper-slide swiper-no-swiping" data-hash="slide2">
        <section class="item-con ques-1" data-index="1" data-right="70">
          <header class="canvas-con">
            <div class="image-con red-car ani" swiper-animate-effect="fadeInLeft" swiper-animate-delay="0.5s"><img
                src="../image/icon/red_car@2x.png" alt="car"></div>
          </header>
          <div class="question-con row no-margin">

            <div class="col-xs-6 ani" swiper-animate-effect="fadeInLeft" swiper-animate-delay="1s">
              <div class="ques-intro">
                <div class="image-con question-text"><img src="../image/text/text_2@2x.png" alt="text"></div>
                <div class="image-con main-text"><img src="../image/text/text_main@2x.png" alt="text"></div>
                <div class="image-con select-text"><img src="" alt="text"></div>
              </div>
            </div>

            <div class="col-xs-6">
              <ul class="select-con">
                <li class="select-item ani" data-km="30" swiper-animate-effect="fadeInUp" swiper-animate-delay="1.3s">
                  <img src="../image/text/30km_h@2x.png" class="img-normal"></li>
                <li class="select-item ani" data-km="40" swiper-animate-effect="fadeInUp" swiper-animate-delay="1.5s">
                  <img src="../image/text/40km_h@2x.png" class="img-normal"></li>
                <li class="select-item ani" data-km="50" swiper-animate-effect="fadeInUp" swiper-animate-delay="1.7s">
                  <img src="../image/text/50km_h@2x.png" class="img-normal"></li>
                <li class="select-item ani" data-km="70" swiper-animate-effect="fadeInUp" swiper-animate-delay="1.9s">
                  <img src="../image/text/70km_h@2x.png" class="img-normal"></li>
              </ul>
            </div>
          </div>
        </section>
      </div>
      <!--2-->
      <div class="swiper-slide swiper-no-swiping" data-hash="slide3">
        <section class="item-con ques-2" data-index="2" data-right="100">
          <header class="canvas-con">
            <div class="image-con red-car ani" swiper-animate-effect="fadeInLeft" swiper-animate-delay="0.5s"><img
                src="../image/icon/red_car@2x.png" alt="car"></div>
          </header>
          <div class="question-con row no-margin">

            <div class="col-xs-6 ani" swiper-animate-effect="fadeInLeft" swiper-animate-delay="1s">
              <div class="ques-intro">
                <div class="image-con question-text"><img src="../image/text/text_3@2x.png" alt="text"></div>
                <div class="image-con main-text"><img src="../image/text/text_main_2@2x.png" alt="text"></div>
                <div class="image-con select-text"><img src="" alt="text"></div>
              </div>
            </div>

            <div class="col-xs-6">
              <ul class="select-con">
                <li class="select-item ani" data-km="60" swiper-animate-effect="fadeInUp" swiper-animate-delay="1.3s">
                  <img src="../image/text/60km_h@2x.png" class="img-normal"></li>
                <li class="select-item ani" data-km="90" swiper-animate-effect="fadeInUp" swiper-animate-delay="1.5s">
                  <img src="../image/text/90km_h@2x.png" class="img-normal"></li>
                <li class="select-item ani" data-km="100" swiper-animate-effect="fadeInUp" swiper-animate-delay="1.7s">
                  <img src="../image/text/100km_h@2x.png" class="img-normal"></li>
                <li class="select-item ani" data-km="110" swiper-animate-effect="fadeInUp" swiper-animate-delay="1.9s">
                  <img src="../image/text/110km_h@2x.png" class="img-normal"></li>
              </ul>
            </div>
          </div>
        </section>
      </div>
      <!--3-->
      <div class="swiper-slide swiper-no-swiping" data-hash="slide4">
        <section class="item-con ques-3" data-index="3" data-right="90">
          <header class="canvas-con">
            <div class="image-con red-car ani" swiper-animate-effect="fadeInLeft" swiper-animate-delay="0.5s"><img
                src="../image/icon/red_car@2x.png" alt="car"></div>
          </header>

          <div class="question-con row no-margin">

            <div class="col-xs-6 ani" swiper-animate-effect="fadeInLeft" swiper-animate-delay="1s">
              <div class="ques-intro">
                <div class="image-con question-text"><img src="../image/text/text_3@2x.png" alt="text"></div>
                <div class="image-con main-text"><img src="../image/text/text_main_2@2x.png" alt="text"></div>
                <div class="image-con select-text"><img src="" alt="text"></div>
              </div>
            </div>

            <div class="col-xs-6">
              <ul class="select-con">
                <li class="select-item ani" data-km="60" swiper-animate-effect="fadeInUp" swiper-animate-delay="1.3s">
                  <img src="../image/text/60km_h@2x.png" class="img-normal"></li>
                <li class="select-item ani" data-km="90" swiper-animate-effect="fadeInUp" swiper-animate-delay="1.5s">
                  <img src="../image/text/90km_h@2x.png" class="img-normal"></li>
                <li class="select-item ani" data-km="100" swiper-animate-effect="fadeInUp" swiper-animate-delay="1.7s">
                  <img src="../image/text/100km_h@2x.png" class="img-normal"></li>
                <li class="select-item ani" data-km="110" swiper-animate-effect="fadeInUp" swiper-animate-delay="1.9s">
                  <img src="../image/text/110km_h@2x.png" class="img-normal"></li>
              </ul>
            </div>
          </div>
        </section>
      </div>
      <!--4-->
      <div class="swiper-slide swiper-no-swiping" data-hash="slide5">
        <section class="item-con ques-4" data-index="4" data-right="50">
          <header class="canvas-con no-shadow">
            <div class="image-con red-car ani" swiper-animate-effect="fadeInLeft"
                 swiper-animate-delay="0.5s"><img src="../image/icon/red_car@2x.png" alt="car"></div>
            <div class="image-con yellow-car ani" swiper-animate-effect="fadeInLeft"
                 swiper-animate-delay="0.5s"><img src="../image/icon/yellow_car@2x.png" alt="car"></div>
          </header>
          <div class="question-con">
            <div class="col-xs-6 ani" swiper-animate-effect="fadeInLeft" swiper-animate-delay="1s">
              <div class="ques-intro">
                <div class="image-con question-text"><img src="../image/text/text_3@2x.png" alt="text"></div>
                <div class="image-con main-text"><img src="../image/text/text_main@2x.png" alt="text"></div>
                <div class="image-con select-text"><img src="" alt="text"></div>
              </div>

            </div>
            <div class="col-xs-6 select-con">
              <ul>
                <li class="select-item ani" data-km="30" swiper-animate-effect="fadeInUp" swiper-animate-delay="1.3s">
                  <img src="../image/text/30km_h@2x.png" class="img-normal"></li>
                <li class="select-item ani" data-km="40" swiper-animate-effect="fadeInUp" swiper-animate-delay="1.5s">
                  <img src="../image/text/40km_h@2x.png" class="img-normal"></li>
                <li class="select-item ani" data-km="50" swiper-animate-effect="fadeInUp" swiper-animate-delay="1.7s">
                  <img src="../image/text/50km_h@2x.png" class="img-normal"></li>
                <li class="select-item ani" data-km="70" swiper-animate-effect="fadeInUp" swiper-animate-delay="1.9s">
                  <img src="../image/text/70km_h@2x.png" class="img-normal"></li>
              </ul>
            </div>
          </div>
        </section>
      </div>
      <!--5-->
      <div class="swiper-slide swiper-no-swiping" data-hash="slide6">
        <section class="item-con ques-5" data-index="5" data-right="30">

          <header class="canvas-con no-shadow">
            <div class="image-con red-car circle-move"><img src="../image/icon/red_car@2x.png" alt="car"></div>
          </header>

          <div class="question-con">
            <div class="col-xs-6 ani" swiper-animate-effect="fadeInLeft" swiper-animate-delay="1s">
              <div class="ques-intro">
                <div class="image-con question-text"><img src="../image/text/text_7@2x.png" alt="text"></div>
                <div class="image-con main-text"><img src="../image/text/text_main@2x.png" alt="text"></div>
                <div class="image-con select-text"><img src="" alt="text"></div>
              </div>
            </div>

            <div class="col-xs-6">
              <ul class="select-con">
                <li class="select-item ani" data-km="30" swiper-animate-effect="fadeInUp" swiper-animate-delay="1.3s">
                  <img src="../image/text/30km_h@2x.png" class="img-normal"></li>
                <li class="select-item ani" data-km="40" swiper-animate-effect="fadeInUp" swiper-animate-delay="1.5s">
                  <img src="../image/text/40km_h@2x.png" class="img-normal"></li>
                <li class="select-item ani" data-km="50" swiper-animate-effect="fadeInUp" swiper-animate-delay="1.7s">
                  <img src="../image/text/50km_h@2x.png" class="img-normal"></li>
                <li class="select-item ani" data-km="70" swiper-animate-effect="fadeInUp" swiper-animate-delay="1.9s">
                  <img src="../image/text/70km_h@2x.png" class="img-normal"></li>
              </ul>
            </div>
          </div>
        </section>
      </div>
      <!--finish 6-->
      <div class="swiper-slide swiper-no-swiping" data-hash="slide7">
        <section class="item-con finish-con">
          <div class="image-con finish-other ani" swiper-animate-effect="tada" swiper-animate-delay="0.5s"><img
              src="../image/icon/finish_other@2x.png" alt=""></div>
          <div class="image-con red-car ani" swiper-animate-effect="zoomIn"><img src="../image/icon/red_car@2x.png"
                                                                                 alt=""></div>
          <div class="image-con finish-text ani" swiper-animate-effect="zoomIn"><img
              src="../image/text/finish_text@2x.png" alt=""></div>
          <div class="image-con normal-btn finish-btn ani" swiper-animate-effect="fadeInUp" swiper-animate-delay="0.8s">
            <img src="../image/icon/finish_btn@2x.png" alt="">
            <div class="finish-btn-text">
              <img src="../image/text/aword@2x.png" alt="">
            </div>
          </div>
          <div class="image-icon finish-add-text ani" swiper-animate-effect="fadeInUp" swiper-animate-delay="0.8s">
            <img src="../image/text/aword_text@2x.png" alt="">
          </div>
        </section>
      </div>
      <!--info 7-->
      <div class="swiper-slide swiper-no-swiping" data-hash="slide8">
        <section class="info-con">
          <div class="info-form">

            <div class="row no-margin">
              <div class="col-xs-3 no-right-padding info-title">梦想车</div>
              <div class="col-xs-9">
                <div class="col-xs-6 no-left-padding">
                  <div class="cell-item sample-selectbox info-select-right"><select class="selectbox">
                    <option>品牌</option>
                    <option>奥迪</option>
                    <option>奔驰</option>
                    <option>大众</option>
                  </select></div>
                </div>
                <div class="col-xs-6 no-right-padding">
                  <div class="cell-item sample-selectbox"><select class="selectbox">
                    <option>车系</option>
                    <option>宝马X1</option>
                    <option>奔驰c200</option>
                    <option>大众尚酷</option>
                  </select></div>
                </div>
              </div>
            </div>

            <div class="row no-margin">
              <div class="col-xs-3 no-right-padding info-title">&nbsp;</div>
              <div class="col-xs-9">
                <div class="cell-item sample-selectbox"><select class="selectbox">
                  <option>配置</option>
                  <option>配置</option>
                  <option>配置</option>
                  <option>配置</option>
                </select></div>
              </div>
            </div>

            <div class="row no-margin">
              <div class="col-xs-3 no-right-padding info-title">姓名</div>
              <div class="col-xs-9"><input class="info-name" type="text" title="name" maxlength="5"></div>
            </div>

            <div class="row no-margin">
              <div class="col-xs-3 no-right-padding info-title">手机号</div>
              <div class="col-xs-9"><input class="info-phone" type="text" title="phone" maxlength="13"></div>
            </div>

            <div class="row no-margin">
              <div class="col-xs-3 no-right-padding info-title">购车时间</div>
              <div class="col-xs-9">
                <div class="cell-item sample-selectbox"><select class="selectbox">
                  <option>配置</option>
                  <option>配置</option>
                  <option>配置</option>
                  <option>配置</option>
                </select></div>
              </div>
            </div>


            <!--label-->
            <div class="label-con row no-margin">
              <span class="main-cell col-xs-4 col-xs-offset-1"><label class="radio" for="1">
                <input name="radio_input" type="radio" id="1">
                全款购车
              </label></span>
              <span class="main-cell col-xs-4 col-xs-offset-1"><label class="radio" for="2">
                <input name="radio_input" type="radio" id="2">
                贷款购车
              </label></span>
            </div>
          </div>

          <div class="image-con normal-btn aword-btn ani" swiper-animate-effect="fadeIn"
               swiper-animate-delay="0.5s">
            <img src="../image/icon/info_btn@2x.png" alt="">
            <div class="finish-btn-text"><img src="../image/text/info_btn_text@2x.png" alt=""></div>
          </div>
        </section>
      </div>
      <!--ggk 8-->
      <div class="swiper-slide swiper-no-swiping" data-hash="slide10">
        <section class="aword-con">
          <header class="canvas-con ani" swiper-animate-effect="fadeInDown" swiper-animate-delay="0.5s">
            <div class="aword-canvas-cell">
              <div id="elem_canvas" class="scratchpad canvas-cell"></div>
              <div class="aword-text ani" swiper-animate-effect="fadeIn" swiper-animate-delay="1s">1000元购车金</div>
            </div>
          </header>

          <div class="image-con aword-info-text ani" swiper-animate-effect="fadeInUp" swiper-animate-delay="0.8s">
            <img src="../image/text/aword_info@2x.png" alt="">
          </div>

          <div class="image-con normal-btn grade-btn ani" swiper-animate-effect="fadeInUp" swiper-animate-delay="1s">
            <img src="../image/icon/grade_btn@2x.png" alt="">
          </div>
        </section>
      </div>

      <!--share-->
      <div class="swiper-slide swiper-no-swiping" data-hash="slide9">
        <section class="item-con share-con">
          <div class="grade-con">
            <img src="" alt="grade" class="share-img ani" swiper-animate-effect="fadeInDown"
                 swiper-animate-delay="1s">
          </div>
          <div class="image-con normal-btn share-btn ani" swiper-animate-effect="fadeInUp"
               swiper-animate-delay="1.3s">
            <img src="../image/icon/download_btn@2x.png" alt="">
          </div>
        </section>
      </div>
    </div>
    <!--audio-->
    <audio src="../music/drive.mp3" id="drive_audio"></audio>

    <!--fixed btn-->
    <header class="header-btn hidden">
      <img src="../image/icon/go_slide11@2x.png" alt="header-btn">
    </header>
    <footer class="btn-con hidden">
      <div class="front-btn page-btn"><img src="../image/icon/front_page@2x.png" alt="front"></div>
      <div class="next-btn page-btn"><img src="../image/icon/next_page@2x.png" alt="next"></div>
    </footer>
    <section class="share-guide hidden">
      <div class="share-guide-text">
        <img src="../image/text/share_guide@2x.png" alt="share-text">
      </div>
      <div class="share-arrow">
        <img src="../image/text/share_arrow@2x.png" alt="share-arrow">
      </div>
    </section>

  </section>
</main>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="../javascript/vendor.min.js"></script>
<script src="../javascript/app.js"></script>
</body>

</html>